body {
    font-family: 'Roboto', sans-serif !important; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important; 
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: #D6CDEA;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}
.sidebar .nav li a {
    color: gray;
    text-decoration: none;
}
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active {
    color: black; 
}

.main-content {
    margin-left: 270px;
    padding: 20px;
}
section {
    padding-top: 30px;
}
.btn-custom {
    border-color: black !important;
    transition: all 0.3s ease;
}
.btn-custom:hover {
    background-color: #D6CDEA !important; 
    transform: translateY(-2px);
}
#about p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
#about ul li {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}
.timeline-exp, .timeline-edu {
    position: relative;
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 80%;
}
.timeline-item-exp {
    position: relative;
}
.timeline-item-edu {
    position: relative;
    left: -8%;
}
.timeline-point-exp {
    position: absolute;
    top: 50%;
    width: 4%;  
    height: 12%;  
    background-color: rgb(207, 108, 252);
    border-radius: 50%;
}
.timeline-content-exp, .timeline-content-edu, .project-container {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 6px 4px 6px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.timeline-content-exp h5{
    font-weight: 600;
}
.timeline-item-exp:nth-child(even) .timeline-point-exp {
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item-exp:nth-child(odd) .timeline-point-exp {
    left: 0;
    transform: translateX(-100%);
}
.timeline-item-exp:nth-child(odd) .timeline-content-exp {
    margin-left: 50px;
}
.timeline-item-exp:nth-child(even) .timeline-content-exp {
    margin-right: 50px;
}
.timeline-item-exp .timeline-content-exp p {
    margin-bottom: 10px;
}
.experience-list {
    margin-top: 5px;
    padding-left: 5%; 
}
.experience-list li {
    color: #555;
}
.timeline-point-edu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4%;
    height: 12%;
    border-radius: 50%;
    background-color: rgb(207, 108, 252);
    z-index: 1;
}
.timeline-point-edu.right {
    right: -5%; 
}
.title {
   padding: 3px 8px;
   border-radius: 25px;
}
.timeline-line-edu {
    position: absolute;
    top: 11%;
    right: 90px; 
    width: 4px;
    height: 76%;
    background-color: rgb(207, 108, 252); /* your timeline color */
    z-index: 0;
    border-radius: 2px;
}
.custom-dl-btn {
    border: 2px solid rgb(175, 51, 232) !important; 
    background-color:  transparent !important;
    color: rgb(175, 51, 232) !important;
    font-weight: bold;
    transition: all 0.3s ease;
}
.custom-dl-btn i {
    transition: color 0.3s ease;
}
.custom-dl-btn:hover {
    background-color: rgb(175, 51, 232) !important;
    color: white !important;
}
.custom-dl-btn:hover i {
    color: white !important;
}
.custom-footer {
    position: relative;
    bottom: 0;
    left: 250px; 
    width: calc(100% - 250px); 
    color: white;
    background: rgb(202, 178, 232);
    font-size: 17px;
    z-index: 1000;
    font-weight: bold;
}
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
        margin-top: 600px;
        padding: 10px;
    }

    .sidebar .nav li a {
        font-size: 14px;
    }
    .project-container {
        box-shadow: 6px 6px 6px 6px rgba(215, 35, 243, 0.1);
    }

    .title {
        padding: 3px 5px;
    }

    .custom-footer {
        left: 0;
        width: 100%;
    }

    .custom-dl-btn {
        width: 100%;
        text-align: center;
    }
    .timeline-point-exp, .timeline-point-edu {
        display: none;
    }

    .timeline-line-edu {
        display: none;
    }
    .custom-footer {
    position: relative;
    bottom: 0;
    width: 100vw; 
    color: white;
    background: rgb(202, 178, 232);
    font-size: 17px;
    z-index: 1000;
    font-weight: bold;
    text-align: center; 
}
}