/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #D6CDEA;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}
.sidebar .nav li a {
    color: gray;
    text-decoration: none;
}

.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active {
    color: black; 
}


/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 20px;
}
.section {
    margin-bottom: 50px;
}
.timeline {
    border-left: 3px solid #007bff;
    padding-left: 20px;
}
.timeline-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 10px;
}
.project-card {
    background: #e3f2fd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}



